<!-- Begin Hero -->
<div class="section section1">
	<section id="page1" class="fullScreen">
		<div class="mobileLogo"><a href="#home"><img src="/assets/logo-white.png"></a></div></li>
		<!--<div id="particles-js"></div>-->
		<div class="col-md-12">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-8 heroText">
				<p>With Beetle TV, our aim is to make skilled, experienced, creative production available to all agencies and across all film media. We are Sally Alekna and Lyndsay Myerscough and we have honed our production skills for the last 20 years in the best agencies in London and overseas. It’s given us a wealth of knowledge, an enviable contact list and an appetite to bring the best quality to many more productions of all kinds.</p>
			</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
	</section>
</div>
<!-- End Hero -->