@font-face {
  font-family: 'Gotham-Medium';
  src:font-url('Gotham-Medium.eot');
  src:font-url('Gotham-Medium?#iefix') format('embedded-opentype'),
    font-url('Gotham-Medium.svg#icomoon') format('svg'),
    font-url('Gotham-Medium.woff') format('woff'),
    font-url('Gotham-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-ExtraLight';
  src:font-url('Gotham-ExtraLight.eot');
  src:font-url('Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
    font-url('Gotham-ExtraLight.svg#icomoon') format('svg'),
    font-url('Gotham-ExtraLight.woff') format('woff'),
    font-url('Gotham-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}