<!-- Begin Navigation -->
<% if controller.controller_name == 'home' && controller.action_name == 'index' %>
	<nav class="spacing">
		<div class="navContainer" id="naviMenu">
		    <ul class="menuWrapper" id="menu">
		        <li class="navLink2 logoWrapper"><a href="#home"><div class='logo'></div></a></li>
				<li class="navLink"><a href="#about">What We Do</a></li>
		        <li class="navLink"><a href="#contact">Get In Touch</a></li>
		        <li class="navLink"><a href="#work">Our Work</a></li>
		    </ul>
		</div>
	</nav>
<% end %>